# camel case

## myNameIs noe neveshteh

# snake case

## my_name_is

## camel case

In [6]:
MyNameIs = 'saba'
print (MyNameIs)

saba

In [7]:
len(MyNameIs)

4

In [10]:
print (MyNameIs[0])

s

In [12]:
MyNameIs[0]

's'

### for the last part because the numbers starts from 0 the last character is the number of len -1 or (-1)

In [15]:
MyNameIs[-1]

'a'

In [17]:
MyNameIs[3]

'a'

In [19]:
MyNameIs[len(MyNameIs)-1]

'a'

In [21]:
MyNameIs[1:3]

'ab'

In [23]:
family = 'sarlak'
FullName = MyNameIs +' '+  family +' '
print (FullName)

saba sarlak

In [25]:
print (FullName*5)

saba sarlak saba sarlak saba sarlak saba sarlak saba sarlak

In [27]:
MyNameIs.find('a')

1

In [29]:
a=2

In [31]:
b=2

In [33]:
a is b

True

In [35]:
a==b

True

In [37]:
a=2
b=2 
a is b

True

In [39]:
a==b

True

In [41]:
MyfriendsName= 'eli'
fullName = FullName.replace( MyNameIs,MyfriendsName) 
print (fullName)

eli sarlak

In [43]:
Faa = 'ahmad'
sisi= fullName.replace(family,Faa)
print (sisi)

eli ahmad

In [45]:
MyNameIs.upper()

'SABA'

In [47]:
MyNameIs.isalpha()

True

In [49]:
adress= 'mmcnend33'
adress.isalpha ()

False

In [51]:
FullName.split()

['saba', 'sarlak']

In [53]:
time = '17:47:33'
time.split(":")

['17', '47', '33']

In [55]:
myName = 'saba' 
if  len(myName)>= 5:
    print ('my name is long')
else : 
    print ('my name is short')

my name is short

In [57]:
inputName = 'amiralii'

In [59]:
if len(inputName)>=5 :
    print ('my name is long')
elif len(inputName)<=5 and len(inputName)>3 :
    print ('my name is medium')
else :
    print('my name is short')

my name is long

In [61]:
inputAge = 17

In [63]:
if inputAge >20:
    if not inputAge % 2:
        print ('sen zoje')
    else :
        print ('sen farde')
else: 
    if not inputAge % 2 :
        print ('kocholo zoj')
    else: 
        print ("kocholo fard")

kocholo fard

## if not = 0 bianary numbers (false)

## if =1 (true)

# tempint while loop

In [68]:
tempInt = 3
while tempInt > 0:
    print (tempInt)
    tempInt -= 1     # tempInt = tempInt - 1

3
2
1

## fibonacci

### Q1. fibonacci <100     (homework)

### Q2. n-th prime number

In [73]:
n= 20

### Q3.check p is prime or not?

In [76]:
p=19
temp =p-1
ayaAvalAst = True
while  temp >= 2 :
    if p % temp == 0  :
        ayaAvalAst = False
        break
    temp-=1
if ayaAvalAst : 
        print ('is prime')
else:
        print ('is not prime')

is prime

### while true alway run

In [79]:
#while True :
   # if 'T' is pressed : 
       # break

# for loop

In [82]:
for i in range (10): # range 0 ta 9 chon shomaresh az 0 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [84]:
sum=0
for i in range(5):
    sum+=i
print (sum)

10

In [86]:
sum=0
for i in range(5):
    sum+=i
    print (sum)

0
1
3
6
10

In [88]:
sum=0
for i in range(5):
    sum+=i
    print ("i="+str(i) +",sum=" +str(sum))
print ('end')

i=0,sum=0
i=1,sum=1
i=2,sum=3
i=3,sum=6
i=4,sum=10
end

In [90]:
n=10
fact=1
for i in range (n):
    fact=fact*(i+1)
print (fact)

3628800

In [92]:
n=10
for i in range (1,10):
    fact=n*i
    print (fact)

10
20
30
40
50
60
70
80
90

In [94]:
for i in range (1,26): 
    if i%3==0:
        print ('hop!')
    else:
        print (i)

1
2
hop!
4
5
hop!
7
8
hop!
10
11
hop!
13
14
hop!
16
17
hop!
19
20
hop!
22
23
hop!
25

# lists

In [97]:
templist = [20 , 'saba' , 8.2]
len(templist)

3

In [99]:
templist[1]

'saba'

In [101]:
len(templist[1])

4

In [103]:
templist[1][3]

'a'

In [105]:
templist[0][1]

TypeError: 'int' object is not subscriptable

## error mide chon string nist int ast

In [ ]:
a=36

In [108]:
str(a)

'2'

In [110]:
pi=3.13

In [112]:
int(pi)

3

In [114]:
l=2.9999

In [116]:
int(l)

2

#### aya mitavan list ra mishe be string tabdil kard ?

In [119]:
str(templist)

"[20, 'saba', 8.2]"

In [121]:
templist=templist+[2,'programming', 'tiv',7.9]

In [123]:
print(templist)

[20, 'saba', 8.2, 2, 'programming', 'tiv', 7.9]

In [125]:
templist[:-1]

[20, 'saba', 8.2, 2, 'programming', 'tiv']

In [127]:
dir(templist)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##### 
'append','clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [130]:
templist.pop(2)

8.2

In [132]:
print(templist)

[20, 'saba', 2, 'programming', 'tiv', 7.9]

In [134]:
ages=[20,24,444,37,29,23,22.23]
ages.sort()
ages

[20, 22.23, 23, 24, 29, 37, 444]

# float va int mishe baham baraye sort vali string joda

In [137]:
gooat=['22','23','23.5','b','B','q']

In [139]:
gooat.sort()
gooat

['22', '23', '23.5', 'B', 'b', 'q']

# Q.print courses that I passed in decending order

In [142]:
myScores=[14.5,15,17,19.63,20,4]
myCourses=['math','statics','planning','physics','economics','ap']

In [144]:
for i in range (len(myScores)):
    print (myCourses[i] +'='+ str(myScores[i]))
    if myScores[i]>=10: 
        print ('Passed')
    else :
        print('Failed')

math=14.5
Passed
statics=15
Passed
planning=17
Passed
physics=19.63
Passed
economics=20
Passed
ap=4
Failed

In [146]:
myScores.sort()
for i in range (myScores):
    print (myCourses[i] +'='+ str(myScores[i]))
    if myScores[i]>=10: 
        print ('Passed')
    else :
        print('Failed')

TypeError: 'list' object cannot be interpreted as an integer

# dictionary

In [149]:
Personal={'name':'Saba' , 'age':20}

In [151]:
print (Personal)

{'name': 'Saba', 'age': 20}

In [153]:
print(Personal['age'])

20

In [155]:
dict={'firstname':'Saba' ,'surname':'Sarlak'}

In [157]:
Personal={'name':dict,'age':20}

In [159]:
print (Personal)

{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20}

In [161]:
print(Personal['name']['firstname'])

Saba

In [163]:
cities=['kl','iis','maha']

In [165]:
Personal['cities']=cities

In [167]:
print (Personal)

{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha']}

In [169]:
number=[6]

In [171]:
lastCity=['kl']

In [173]:
Personal['lastCity']=lastCity

In [175]:
print (len(Personal['cities']))

3

### len az jens int ast o mitonim + va _ 1 va adad ha bokonim

# list ba alamate [ ]--------> baraye dictionary { }

In [179]:
Personal['friends']=[{'firstname':'elnaz', 'lastname':'ahmad' , 'age':22 , 'id':0},{'firstname':'asal','lastname':'sabaghzade' , 'age':26,'id':2}]

In [181]:
print (Personal)

{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}]}

In [183]:
Personal['friends'].append({'firstname':'setia','lastname':'dehghan', 'id':'bestfriend','age':25})

In [185]:
print (Personal)

{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}]}

In [187]:
Personal.keys()

dict_keys(['name', 'age', 'cities', 'lastCity', 'friends'])

In [189]:
if 'age' in Personal.keys():
    if Personal['age']>=18:
        print ('ejaze darad')
else:
    print ('age ra vared kon')

ejaze darad

# Q. print nane of oldest friend and average age of your friends

# files

In [193]:
tempFile= open('Personal.txt','w')
tempFile.write(str(Personal))
tempFile.close()

In [195]:
tempFile=open('Personal.txt','w')
tempFile.write(str(Personal))
tempFile.close()

In [197]:
inputFile= open('Personal.txt','r')
PersonalString=inputFile.read()
inputFile.close()

In [199]:
print(tempFile)

<_io.TextIOWrapper name='Personal.txt' mode='w' encoding='UTF-8'>

In [201]:
print(inputFile)

<_io.TextIOWrapper name='Personal.txt' mode='r' encoding='UTF-8'>

In [203]:
amirFile=open('amirProfile.txt','r')
amirProfile=amirFile.read()
amirFile.close()

In [205]:
print(amirProfile)

{'name': {'firstName': 'Amirhoshang', 'lastName': 'Hoseinpour Dehkordi'},
'age': 34, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'farhadFriends':
{'bestFriend': {'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id':
0}, 'lastButNotLeastFriend': {'firstName': 'Bender', 'lastName': 'Bending
Rodr�guez', 'age': 4, 'id': 1}, 0: {'firstName': 'Bender1', 'lastName':
'Bending Rodr�guez', 'age': 4, 'id': 1}, 1: {'firstName': 'Bender2',
'lastName': 'Bending Rodr�guez', 'age': 4, 'id': 1}, 2: {'firstName':
'Bender3', 'lastName': 'Bending Rodr�guez', 'age': 4, 'id': 1}},
'friends': [{'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id':
0}, {'firstName': 'Bender', 'lastName': 'Bending Rodr�guez', 'age': 4,
'id': 1}, {'firstName': 'Amy', 'lastName': 'Wong', 'age': 30, 'id': 2}]}

# function

In [208]:
print(len('amir'))

4

In [210]:
def function_name(myInput):
    #print(myInput)
    return myInput *2

In [212]:
def oldest_average_friend(myDict):
    maxAge=0
    maxFriend={}
    sumAge=0
    for i in myDict['friends']:
        sumAge+=i['age']
        if i['age']>maxAge:
            maxAge=i['age']
            maxFriend=i
    averageAge= sumAge/len(myDict['friends'])
    return[maxFriend, averageAge]

In [214]:
oldestFriend=oldest_average_friend(myProfile)[0]
print (oldestFriend['firstName'])

NameError: name 'myProfile' is not defined

## Q. 2 be tavane n bar esm ra chap konid?

In [217]:
n=3
mult=1
for i in range(n):
    mult=mult*2
a=mult
print(myName*a)

sabasabasabasabasabasabasabasaba

In [219]:
n=8
mult=1
for i in range(n):
    mult=mult*2
a=mult
print(myName*a)

sabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasabasaba

In [221]:
def power2(n):
    mult=1
    for i in range (n):
        mult=mult*2
    return mult

In [223]:
def power_k(k, n):
    mult=1
    for i in range(n):
        mult=mult*k
    return mult

In [225]:
power_k(4, 4)

256

In [227]:
Personal['id']=7

In [229]:
Personal

{'name': {'firstname': 'Saba', 'surname': 'Sarlak'},
 'age': 20,
 'cities': ['kl', 'iis', 'maha'],
 'lastCity': ['kl'],
 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0},
  {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2},
  {'firstname': 'setia',
   'lastname': 'dehghan',
   'id': 'bestfriend',
   'age': 25}],
 'id': 7}

In [231]:
tempFile=open(str(Personal['id']) +'.txt','w')
tempFile.write(str(Personal))
tempFile.close()

# my id 7

In [234]:
myId=7

In [236]:
Personal['id']=myId

# analyze data classmates

In [239]:
f= open('classmates/1.txt','r')  # r ro mitonim bezanim  mitonim nazanim.
data = f.read()
f.close()
print(data)

{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}

# how to open files?

In [242]:
import OS
arr= OS.listdir('http://localhost:8889//tree//Documents//advanced programming//subfolder//classmates') #backslash 1 donei string nist pas / ha ro do ta mikonim
print(arr)

ModuleNotFoundError: No module named 'OS'

In [244]:
import os 
ROOT_DIR= os.path.abspath(os.curdir)
print(rootDir)
ar=  os.listdir(rootDir+'/classmates')
print(ar)

NameError: name 'rootDir' is not defined

In [246]:
import os 
ROOT_DIR= os.path.abspath(os.curdir)
print(rootDir)

NameError: name 'rootDir' is not defined

In [248]:
import os 
ROOT_DIR= os.path.abspath(os.curdir)
listOfFile=  os.listdir(ROOT_DIR+'/classmates')
listOfProfile= [ ]
for i in listOfFile:  #list nuaz be range nadare mitonim mostaghim bekhonim
    print('classmates/'+i)
    f=open('classmates/'+i)
    tempProfile=f.read()
    listOfProfile.append(tempProfile)
    f.close()
print(listOfProfile)

classmates/14.txt
classmates/16.txt
classmates/17.txt
classmates/13.txt
classmates/12.txt
classmates/10.txt
classmates/11.txt
classmates/9.txt
classmates/8.txt
classmates/5.txt
classmates/4.txt
classmates/6.txt
classmates/7.txt
classmates/2.txt
classmates/1.txt
classmates/19.txt
classmates/18.txt
["{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}", "{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': {'TEHRAN', 'KISH', 'ABADAN'}, 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}", "{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}", "{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}", "{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}", "{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'farhadFriends': {'bestFriend': {'firstName': 'ikkin', 'lastName': 'golabi', 'age': 2, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'hossein', 'lastName': 'hezarpa', 'age': 40, 'id': 1}, 0: {'firstName': 'pedram', 'lastName': 'shahraki', 'age': 13, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodriguez', 'age': 4, 'id': 1}, 2: {'firstName': 'shahrooz', 'lastName': 'shabpareh', 'age': 60, 'id': 1}}, 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}", "{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}", "{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}", "{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}", "{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}", "{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}", "{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}", "{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}", "{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}", "{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}", "{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}", "{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}"]

# miangin sen bache haye class

In [251]:
import json

## format json va yek formate dige niz hast ke data 
# enter /m hast joda kardan data ha ba tab va comma

# chegone file tsv ra dar python bekhonim?

In [256]:
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [257]:
import pandas as pd 
# as baraye avaz kardane esm 
df= pd.read_csv('title.ratings.tsv' , sep='\t')
display(df)

            tconst  averageRating  numVotes
0        tt0000001            5.7      2103
1        tt0000002            5.6       282
2        tt0000003            6.5      2122
3        tt0000004            5.4       182
4        tt0000005            6.2      2852
...            ...            ...       ...
1503082  tt9916730            7.0        12
1503083  tt9916766            7.1        24
1503084  tt9916778            7.2        37
1503085  tt9916840            6.9        11
1503086  tt9916880            7.9         9

[1503087 rows x 3 columns]

In [258]:
maxValues= df['numVotes'].idxmax()
print(maxValues)

84328

In [259]:
maxValues= df['averageRating'].idxmax()
print(maxValues)

78058

In [260]:
maxValues= df['averageRating'].max()
print(maxValues)

10.0

In [261]:
maxValues= df['numVotes'].max()
print(maxValues)

2966619